.header{
  width: 100%;
  padding-top: 10px;
  margin-bottom: 30px;
  background-color: #266a1e;
  display: flex;
  align-items: center;
}
.mainLogo{
  margin-left: 10%;
}

.headerTitle{
  margin: 0 0 0 10px;
  color: #fff;
}
